#top {
	width: 1000px;
}
#content {
	background-color: #FFFFFF;
	height: 140px;
	width: 1000px;
}
#news {
	float: left;
	width: 362px;
}
#newscontent {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #999999;
	width: 362px;
	list-style-position: outside;
	list-style-type: square;
	text-align: left;
}
#center {
	float: left;
	width: 315px;
}
#right {
	float: left;
	padding-top: 22px;
	padding-left: 19px;
}
#bottom {
	background-color: #EEEEEE;
	text-align: center;
	height: 30px;
	width: 1000px;
	padding-top: 10px;
	font-size: 12px;
	color: #999999;
}
body {
	text-align: center;
	margin: 0px;
}
#stop {
	width: 1000px;
}
#scontent {
	background-color: #FFFFFF;
	width: 1000px;
}
#sleft {
	padding: 0px;
	float: left;
	width: 204px;
}
#stitle {
	float: left;
	width: 796px;
	padding-top: 30px;
	text-align: left;
}
#smain {
	text-align: left;
	float: left;
	width: 726px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	font-size: 12px;
	line-height: 20px;
	color: #999999;
}
#scontent #smain img {
	float: right;
}
#sbottom {
	font-size: 12px;
	color: #999999;
	background-color: #EEEEEE;
	text-align: center;
	clear: both;
	height: 30px;
	width: 1000px;
	padding-top: 10px;
}
